* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}
html {
  touch-action: none;
}
html,
body {
  overflow-x: hidden;
  touch-action: auto;
}

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
  font-family: 'Duster Regular';
  src: url('./fonts/Duster\ Thin.ttf');
}
